@import '../../App.scss';

.header {
  height: 48px;
  width: 95%;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  background-color: $blue;
  color: black;
  padding: 8px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  @include box-shadow-blue();
}

.logo {
  border-radius: 50%;
}

.path {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .flash {
    animation: flash infinite 1s;
  }
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
