@import '../../App.scss';

.gameJams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-items: stretch;
  align-content: flex-start;
  justify-content: center;
}

.gameJam {
  width: 45%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: $orange;
  margin: 1%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  @include box-shadow-orange();
}

.name {
  font-size: larger;
  padding-bottom: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  padding: 24px;
}

.description {
  padding-top: 8px;
  padding-bottom: 8px;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  padding-right: 32px;
}

.image {
  width: 30%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
